configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus"; /* Change to your preferred icon theme */
    display-drun: "";
    drun-display-format: "{name}";
    font: "Sans 11";
    
    /* Mirrors Wofi config settings */
    matching: "fuzzy";
    case-sensitive: false; /* equivalent to insensitive=true */
    cycle: false;
}

@import "theme.rasi"
