configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus"; /* Change to your preferred icon theme */
    display-drun: "";
    drun-display-format: "{name}";
    font: "Sans 11";
    
    matching: "fuzzy";
    case-sensitive: false;
    cycle: false;
}

@import "theme.rasi"
