@import "~/.cache/wal/colors-rofi-dark.rasi"

configuration {
    show-icons: true;
}

window {
    width: 800px;
    height: 350px;
    border: 2px;
    border-radius: 13px;
    background-color: alpha(@background, 0.1);
    }

listview {
    columns: 3;
    lines: 3;
    spacing: 0px;
    cycle: false;
    dynamic: true;
}

element {
    orientation: vertical;
    padding: 0px;
    border-radius: 16px;
}

element-icon {
    size: 200px;
}

element-text {
    horizontal-align: 0.5;
}
