@import '.cache/wal/colors-waybar.css';

@define-color bg @background;
@define-color selected-bg @color1;
@define-color dragging-scroll @color2;
@define-color border-color @color14;

* {
    background-color:transparent;
}

#input {
    /* Spacing */
    margin: 9px 9px 15px 9px;           /* Outer margin */
    padding: 8px 12px;      /* Inner padding (top/bottom, left/right) */

    border: 0.8px solid @border-color;            /* Removes the border */
    outline: none;           /* Removes focus outline */
    box-shadow: none;        /* Removes shadow if present */
    border-radius: 13px;
}

window {
    background-color: alpha(@bg, 0.55);
    border: 0.5px solid @border-color;
    border-radius: 15px;
}
#scroll {
    margin: 0px 0px 20px 0px;
    border: none;
}

/* Change color ONLY when dragging */
#scroll trough slider:active {
    background-color: @dragging-scroll; /* Bright color when dragging */
    opacity: 1; /* Fully visible */
}

#entry {
    margin: 5px 10px;
    padding: 10px;
    outline: none;
}

#entry:selected {
    background-color: alpha(@color14, 0.4); 
    border-radius: 20px;
}
