/* Official waybar style with one color */
@import url("/home/DROS/.cache/wal/colors-waybar.css");

/* @define-color color15 @color14; change the color it to @color15 or @color7 to meke it white | @color5 is recomended for one color */ 

* {
    font-family: "LiterationMono Nerd Font";
    font-weight: bold;
    font-size: 15.2px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: alpha(@background, 0.8); /* last number control the opacity */
}

#workspaces button.active {
    color: @foreground;
}

#workspaces {
    background-color: alpha(@background, 0.9);
    padding: 0px 10.4px 0px 5px; /* top, right, bottom, left */
    border-radius: 15;
    padding: 1px 6px 1px 6px;
    border-radius: 10px;
    border: 1px solid alpha(@color6, 1)

}

.modules-left,
.modules-right {
    background-color: alpha(@background, 0.9); /* background */
    padding: 5px 6px;
    border-radius: 10px;
    border: 1px solid alpha(@color6, 1)
}

#pulseaudio {
    color: @color15; /* color4 */
    margin: 0 5px 0 0px;
    border-radius: 15;
}

#image.Memhack_icon {
    margin: 0px 0px;
    padding: 0px 0px;
}

#custom-media {
    color: @color15; /* color10 */
    margin: 0 0px 0 15px;
    background-color: alpha(@background, 0.9); /* background */
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    border: 1px solid alpha(@color6, 1)
}

#custom-launcher {
    color: @color15;
    margin: 0 10px 0 5px;
    border-radius: 25;
    font-size:13px;
}

#custom-pacman {
    color: @color15; /* color1 (previously color8) */
    margin: 0 0px 0 0px;
    border-radius: 15;
    font-size:13px;
}

#custom-aur{
    color: @color15; /* color1 (previously color8) */
    margin: 0 5px 0 0px;
    border-radius: 15;
    font-size:13px;

}

#cpu,

#network,

#custom-weather,

#clock, 

#memory, 

#battery,

#backlight {
    color: @color15; /* color13 */
    margin: 0 10px 0 10px;
    border-radius: 15;
    font-size:13px;
}
