/* Official waybar style with one color */
@import url("/home/DROS/.cache/wal/colors-waybar.css");

/* @define-color color15 @color14; change the color it to @color15 or @color7 to meke it white | @color5 is recomended for one color */ 

* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces {
    background-color: @background;
    padding: 0.4px 10.4px 0px 5px; /* top, right, bottom, left */
    border-radius: 15;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#battery,

#backlight {
    color: @color15; /* color13 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#pulseaudio {
    color: @color15; /* color4 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#network {
    color: @color15; /* color2 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#custom-weather {
    color: @color15; /* color5 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#clock {
    color: @color15; /* color3 */
    background-color: @background; /* background */
    margin: 0 5px 0 0;
    padding: 0px 17px 0px 17px;
    border-radius: 15;
}

#custom-launcher {
    color: @color15;
    background-color: @background;
    margin: 0 5px 0 0px;
    padding: 0 20px 0 16px;
    border-radius: 25;
}

#cpu {
    color: @color15;
    background-color: @background;
    margin: 0 5px 0 0px;
    padding: 0 23.4px 0 19px; /* top, right, bottom, left */
    border-radius: 15;
}

#memory {
    color: @color15;
    background-color: @background;
    margin: 0 5px 0 0px;
    padding: 0 22px 0 18px;
    border-radius: 15;
}

#custom-pacman {
    color: @color15; /* color1 (previously color8) */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#custom-aur {
    color: @color15; /* color1 (previously color8) */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 21px 0px 18px; /* top, right, bottom, left */
    border-radius: 15;
}

#backlight {
    color: @color15; /* color6 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}

#custom-media {
    color: @color15; /* color10 */
    background-color: @background; /* background */
    margin: 0 0px 0 15px;
    padding: 0px 17px 0px 17px; /* top, right, bottom, left */
    border-radius: 15;
}
